RewriteEngine On
RewriteBase /Project_Tracker_Tool/
RewriteRule ^index\.html$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Project_Tracker_Tool/index.html [L]
