RewriteEngine On
RewriteBase /Project_Tracker_Tool/

# If the request is NOT a real file
RewriteCond %{REQUEST_FILENAME} !-f

# If the request is NOT a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Always serve index.html for SPA routing
RewriteRule ^ index.html [L]
